.bubble-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background: transparent;
    pointer-events: none;
}

.bubble {
    position: absolute;
    border-radius: 25%;
    transform: scale(0);
    animation: expand-and-fade 4s ease-out forwards;
}

@keyframes expand-and-fade {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: scale(2) rotate(360deg);
        opacity: 0;
    }
}