main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    padding: 30px;
    margin-inline: auto;
}

main > 
img {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 25px;
    background-color: var(--theme-b);
}

main > 
h1 {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}

main > 
h1 > 
svg {
    width: 55px;
    height: auto;
    color: var(--theme-a);
}

main >
p {
    text-align: center;
}

main >
small {
    text-align: center;
}

@media screen and (max-width: 768px) {
    main > img {
        width: 70px;
        height: auto;
        padding: 10px;
    }
}