main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    padding: 30px;
    margin-inline: auto;
}

main > 
img {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid rgba(0, 255, 204, 0.4);
    background-color: rgba(0, 255, 204, 0.05);
    box-shadow: 
        0 0 5px rgba(0, 255, 204, 0.2),
        inset 0 0 5px rgba(0, 255, 204, 0.2);
}

main > 
h1 {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-wrap: nowrap;
    color: #fff;
}

main > 
h1 > 
svg {
    width: 55px;
    height: auto;
    color: var(--theme-a);
}

main >
p {
    text-align: center;
    color: #999;
}

main >
p > 
strong {
    color: #00ffcc;
}

main >
small {
    text-align: center;
}

@media screen and (max-width: 768px) {
    main > 
    h1 > 
    svg {
        width: 40px;
        height: auto;
    }
    main > img {
        width: 70px;
        height: auto;
        padding: 10px;
    }
}