main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    padding: 30px;
    margin-inline: auto;
}

main > 
h1 {
    position: relative;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    color: var(--theme-a);
    text-shadow: 1px 1px 1px #fff;
}

main > 
h1 > 
svg {
    width: 40px;
    height: auto;
    position: absolute;
    top: -30px;
    left: 160px;
    color: #999;
    filter: drop-shadow(1px 1px 1px #fff);
}

main >
p {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
}

main >
small {
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    color: #777;
    text-shadow: 1px 1px 1px #fff;
}