@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --theme-a: #00ffcc;
    --theme-b: #000;

    --radius: 8px;
    --padgap: 12px;
    --border: 1px solid rgba(0, 255, 204, 0.4);
    --shadow: 
        0 0 5px rgba(0, 255, 204, 0.2),
        inset 0 0 5px rgba(0, 255, 204, 0.2);

    --button-color: #00ffcc;
    --button-color-hover: #00ffcc;
    --button-color-active: #00ffcc;
    --button-bg: rgba(0, 255, 204, 0.05);
    --button-bg-hover: rgba(0, 255, 204, 0.05);
    --button-bg-active: rgba(0, 255, 204, 0.05);
    --button-border: 1px solid rgba(0, 255, 204, 0.4);
    --button-border-hover: 1px solid rgba(0, 255, 204, 0.4);
    --button-border-active: 1px solid rgba(0, 255, 204, 0.4);

    --textarea-border: 0;
    --textarea-bg: rgba(0, 0, 0, 0.5);

    --chatbot-bg: rgba(0, 0, 0, 0.7);
    --answers-bg: rgba(0, 0, 0, 0.5);
    --answers-border: 0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    transition: all 0.3s ease-in-out;
    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
    image-rendering: optimizeQuality;
    -webkit-tap-highlight-color: transparent !important;
}

html,
body { overflow-x: hidden !important; }

html { scroll-behavior: smooth; }

body { background-color: #0a0a0a; }

button { cursor: pointer; }

h1 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
    color: var(--theme-b);
}

h2 {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}

p,
button {
    font-size: 14px;
    line-height: 1.5;
}

small,
span {
    font-size: 12px;
    line-height: 1.4;
    color: #555;
}

button > svg {
    width: 20px;
    height: auto;
}

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb { border-radius: 7px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--theme-b); }
::-webkit-scrollbar-thumb:hover {  background: var(--theme-a); }

textarea::-webkit-scrollbar { width: 7px; }
textarea::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-thumb { border-radius: 7px; }
textarea::-webkit-scrollbar-track { background: transparent; }
textarea::-webkit-scrollbar-thumb { background: var(--theme-b); }
textarea::-webkit-scrollbar-thumb:hover { background: var(--theme-a); }

@media screen and (max-width: 768px) {
    h1 { font-size: 40px; }

    h2 { font-size: 14px; }

    p,
    button { font-size: 12px; }

    small,
    span { font-size: 10px; }

    button > svg { 
        width: 16px; 
        height: auto; 
    }
}